* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 7vh;
    width: 100%;
    /* background-color: #4d4d4d; */
    position: relative;
    text-align: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(100deg ,rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0,0, 0.4);
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 1);
  }
  
  .nav > .nav-header {
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
.nav-title {
  
    width: 4vw;
    display: inline-block;
    font-size: 2vw;
    color:black;
    padding-right: 30%;
    margin-top:auto;
    /* padding-top: 4vh; */
    /* padding: 10px 10px 10px 10px; */
    /* margin-right: 20%; */
  }
  
  
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav-links {
    display: flex;
    display: inline;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    padding-bottom: 0vh;
    
  }
  .nav-links > b{
    padding-left: 3%
  }
 
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }



  .btnLogin-popup{
    width: 9vw;
    height: 4vh;
    background: transparent;
    border: 4px solid #209FA8;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    bottom: 6%;

    
}
.btnLogin-popup:hover{
    background: #209FA8;
    color: white;

}
  
  @media (max-width:750px) {

    .nav-title{
      display: inline-block;
      padding-right: 70vw;
      padding-top: 0.8vh;
    }
    .nav{
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 6vh;
      
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 10vw;
      height: 10vw;
      padding-top: 1.4vh;
      padding-right: 15vw;
      
      
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      /* background-color: rgba(0, 0, 0, 0.3); */
      
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    /* .nav-links > b{
     padding: 5vw;
    } */
    .nav > .nav-links {
      position: absolute;
      z-index: 1;
      display: block;
      width: 40vw;
      height: 100vh;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: #333;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      right: 0px;
      margin-top: 0;
      background: linear-gradient(100deg ,rgba(0,0,0,0.4),rgba(0,0,0,0.4));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 1);
      
    }
    
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      padding: 4vw;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .btnLogin-popup{
        width: 28vw;
        height: 7vh;
        margin-top: 6vh;
    }
  }