* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 7vh;
    width: 100%;
    /* background-color: #4d4d4d; */
    position: relative;
    text-align: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(100deg ,rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border: 1px solid rgba(0, 0,0, 0.4); */
    /* box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 1); */
  }
  
  .nav > .nav-header {
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
.nav-title {
  
    width: 4vw;
    display: inline-block;
    font-size: 2vw;
    color:black;
    padding-right: 24vw;
    margin-top:auto;
    /* padding-top: 4vh; */
    /* padding: 10px 10px 10px 10px; */
    /* margin-right: 20%; */
  }
  
  
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav-links {
    display: flex;
    display: inline;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    padding-bottom: 0vh;
    
  }
  .nav-links > a{
    padding-left: 11vw;
  }
 
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }

  .btncreateaccount-popup{
    width: 9vw;
    height: 4vh;
    background: #209FA8;
    border: 4px solid #209FA8;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    bottom: 6%;
    box-sizing: border-box;
    padding: 0;
  }

  .btncreateaccount-popup:hover{
    background: white;
    color: black;
    border: 3px solid #209FA8;
  }


  .btnLogin-popup{
    width: 9vw;
    height: 4vh;
    background: #209FA8;
    border: 4px solid #209FA8;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    bottom: 6%;

    
}
.btnLogin-popup:hover{
    background: white;
    color: black;
    border: 3px solid #209FA8;

}

.home{
  display: flex;
  width: 100%;
  height: 100vh;
  color: #F4F5FF;
  background-color: #F4F5FF;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}
.home img{
  width: 50vw;
  
  padding: 10vw;
  padding-left: 0;

}
.home-txt{
  width: 60vw;
  padding-right: 0;
  
  color: black;
  padding: 10vw;
  text-align: left;
  
  word-wrap: break-word;

}
.txt{
  
  margin-right: auto;
 
}
.home-btn{
  padding-top: 10vh;
}
.home-btn > .btncreateaccount-popup {
  padding-right: 1vw;

}

.media-home{
  display: none;
}
.media-home img{
 display: none;
}
.media-home-txt{
 display: none; 
}
.media-txt{
display: none;
}
.media-home-txt > .btncreateaccount-popup {
display: none;
}
.media-home-txt > .btnLogin-popup {
  display: none;
}


.rooms{
  width: 100%;
  height: 100vh;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
  @media(min-width:800px) and ( max-width:1500px){
    .home{
      height: auto;
      box-sizing: border-box;
      
    }
  }

  
  @media (max-width:800px) {

    .nav-title{
      display: inline-block;
      padding-right: 70vw;
      padding-top: 0.8vh;
    }
    .nav{
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 6vh;
      
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 10vw;
      height: 10vw;
      padding-top: 1.4vh;
      padding-right: 15vw;
      
      
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      /* background-color: rgba(0, 0, 0, 0.3); */
      
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 1.2vh;
      border-top: 2px solid #eee;
    }
    /* .nav-links > b{
     padding: 5vw;
    } */
    .nav > .nav-links {
      position: absolute;
      z-index: 1;
      display: block;
      width: 40vw;
      height: 100vh;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: #333;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      right: 0px;
      margin-top: 0;
      background: linear-gradient(100deg ,rgba(0,0,0,0.4),rgba(0,0,0,0.4));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 1);
      
    }
    
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      padding: 4vw;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .btnLogin-popup{
        width: 28vw;
        height: 7vh;
        margin-top: 6vh;
    }
    .btncreateaccount-popup{
      width: 28vw;
      height: 7vh;
      margin-top: 6vh;
      
    }
    .nav-links > .btnLogin-popup{
      padding-left: 0vw;
    }
    
  .home{
    
    display: none;
  }
  .home img{
    display: none;
  }
  .home-txt{
    display: none;
  }
  .txt{
  display: none;
  }
  .home-txt > .btncreateaccount-popup {
  display: none;
  }


  .media-home{
    display: inline;
    display: block;
    width: 100vw;
    box-sizing: border-box;
    color: #F4F5FF;
    background-color: #F4F5FF;
  }
  .media-home img{
    display: inline;
    display: block;
    padding: 10vw;
    width: 100vw;
  }
  .media-home-txt{
    display: inline;
    display: block;
    
  }
  .media-txt{
    display: inline;
    display: block;
    padding-top: 0;
    padding-left: 10vw;
    padding-right: 10vw;
  
    color: black;
    word-wrap: break-word;
  }
  .media-home-btn{
    display: inline;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 25vw;
  }
  .media-home-btn > .btncreateaccount-popup {
    padding-right: 1vw;
  }
  .media-home-btn > .btnLogin-popup{
    
  }
  }






  

  .slide-container{
    max-width: 1500px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #f5f5f7e4;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 25px;
    
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }

  .feature{
    margin-top: 4vh;
    /* width: 100%; */
    /* height: 15vh; */
    box-sizing: border-box;
    color: white;
    background-color: white;
    border-radius: 14px;
    font-size: 1.9vh;
    
   
    display: flex;
    align-self: stretch;
    text-align: center;
    justify-content: center;
    
    
    
  }
  .availability{
    margin-top: 5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 15vh; */
    color: white;
    background-color: white;
    border-radius: 14px;
    align-self: stretch;
    box-sizing: border-box;

  }
  .availability-status{
    padding-top: 2.5vh;
    padding-bottom: 2vh;
    font-size: 25px;
    font-weight: 700;
    color: #333;
  }
 

  .first-column{
    display: flex;
    flex-direction: column;
    padding-top:3.8vh ;
    padding-bottom: 3.8vh;
    padding-left: 3.8vh;
    padding-right: 3.8vh;
    justify-content:start;
    align-items: start;
    text-align: start;
  }
  .no-of-rooms{
    padding-bottom: 3.8vh;
    color: #333;
  }
  .area{
    color: #333;
  }


  .second-column{
  display: flex;
  flex-direction: column;
  padding-top: 3.8vh;
  padding-bottom: 3.8vh;
  justify-content:start;
  align-items: start;
  text-align: start;
  }
  .fan{
    padding-bottom:3.8vh ;
    color: #333;
  }
  .electricity{
    color: #333;
  }

  
  
 .third-column{
  display: flex;
  flex-direction: column;
  padding-top:3.8vh ;
  padding-bottom: 3.8vh;
  padding-right: 3.8vh;
  padding-left: 3.8vh;
  justify-content:start;
  align-items: start;
  text-align: start;
 } 
  .bathroom{
    padding-bottom: 3.8vh;
    color: #333;
  }
  .bed{
    color: #333;
  }



  .useless{
    height: 2vh;
    width: 1vh;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #209FA8;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #209FA8;
    
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #F5F5F7;
  }
  .card-image{
    /* position: relative; */
    height: 250px;
    width: 150px;
    border-radius: 50%;
    background: #F5F5F7;
    padding: 3px;
  }
  .card-image .card-img{
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #209FA8;
    border-radius: 25px 25px 0 25px;
    /* border-radius: 50%; */
    /* border: 4px solid #4070F4; */
  }
  .name{
    font-size: 18px;
    font-weight: 650;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 20px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #209FA8;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: stretch;
    width: 80%;
    
  }
  .button:hover{
    background: white;
    color: black;
    border: 3px solid #209FA8;
  }
  
  .swiper-navBtn{
    color: #209FA8;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #209FA8;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #209FA8;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #209FA8;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
    .feature{
      font-size: 3.3vw;
    }
  }
  @media (min-width:768px) and (max-width:1000px){
    .feature{
      font-size: 1.8vw;
    }
  }

  @media (min-width:1000px) and (max-width:1300px){
    .feature{
      font-size: 1.4vw;
    }
  }
